set mark-symlinked-directories on

set editing-mode vi
$if mode=vi
set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen
Control-n: clear-screen
# approximate the "inner word" object from vim
"ciw": "lbcw"
"ciW": "lbcW"
"diw": "lbdw"
"diW": "lbdW"

set keymap vi-insert
# these are for vi-insert mode
Control-n: clear-screen
$endif
